:root {
    --base-fs: 1;
    --base-font: "Inter", sans-serif;
    --icon-font: "Material Symbols Outlined";
    --icon-vars: 'FILL' 1, 'wght' 400;

    --box-border-radius: 20px;

    --fs-h1: calc(2.2rem * var(--base-fs));
    --fs-h2: calc(1.7rem * var(--base-fs));
    --fs-h3: calc(1.5rem * var(--base-fs));
    --fs-h4: calc(1.2rem * var(--base-fs));
    --fs-hinput: calc(1.3rem * var(--base-fs));

    --fs-text: calc(1rem* var(--base-fs));
    --fs-footer: calc(0.8rem * var(--base-fs));

    --icon-big: 2.5rem;
    --icon-small: 1.8rem;
    --icon-tiny: 1.4rem;
}

@media only screen and (max-width: 500px) {
    :root {
        --fs-unimportant: 0.8rem;
    }
}